.animated-text {
  font-size: 58px;
  font-weight: 600;
  min-width: 320px;
  position: absolute;
  top: 320px;

}

#mainContainer {
  background-image: url('../src/images/new.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

#exploreBtn{
  position: absolute; 
  right: 20%;
  bottom: 12%;
  background-color: #cd5909;
}

#description{
  display: none;
}

@media only screen and (max-width:900px) {
#mainContainer {
  background-image: none;
    background-color: #fae28a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.animated-text {
  position: relative;
  top: initial;
  margin-bottom: 20px; /* Add margin to separate from description */
}

#description {
  display: inline;
  text-align: center;
  padding: 12px;
}

#exploreBtn {
  position: relative;
  right: initial;
  bottom: initial;
  margin-top: 20px; /* Add margin to separate from description */
}
}

.animated-text span {
  position: relative;
}

.animated-text div {
  text-indent: 55px;
  position: relative;
  color: #523e26
}

.animated-text span::before {
  content: "uide";
  color: #ce6957;
  animation: words 6s infinite;
}

.animated-text span::after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  background-color: #fae28a;
  border-left: 2px solid #ff7f50;
  right: -8px;
  animation: cursor .4s infinite, typing 6s steps(4) infinite;
}



@keyframes words {
  0% {
    content: "uide";
  }

  20% {
    content: "lide";
  }

  40% {
    content: "uide";
  }

  60% {
    content: "lide";
  }

  80% {
    content: "uide";
  }

  100% {
    content: "lide";
  }

}

@keyframes typing {

  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }

  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}
